/*============================================================================*/
								/*FONTS*/

@font-face { font-family: Lobster; src: url(../fonts/Lobster.otf); } 
@font-face { font-family: Josefin; src: url(../fonts/josefin-sans/JosefinSans-Light.ttf); } 
@font-face { font-family: JosefinBold; src: url(../fonts/josefin-sans/JosefinSans-SemiBold.ttf); } 
/*============================================================================*/


body {
	background: #fff;
	text-align:center;
	background-attachment: fixed;
	background-position: center center;
	min-height:100%;
	width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden; 
}
textarea {
	resize: none;
}
textarea:focus, input:focus{
    outline: 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0,0,0,0.3);
}
.pageHeader {
	width: 100%;
	background: #5AB4C0;
	height: 70px;
	z-index: 9;
	position: absolute;
	left: 0px;
	right: 0px;
	border-bottom: solid 1px #62A39D; 
	box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	overflow: none;
}
#xlogo {
	position: absolute;
	left: 15px;
	top: 8px;
}
#left-container {
	position: absolute;
	top: 90px;
	left: 10px;
	height: auto;
	width: 30%;
	border-radius: 10px;
}
#right-container {
	position: absolute;
	margin-left: -420px;
	top: 90px;
	right: 0%;
	height: auto;
	width: auto;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}


