/*============================================================================
								FONTS
/#============================================================================*/
@font-face { font-family: Lobster; src: url(../fonts/Lobster.otf); } 
@font-face { font-family: Josefin; src: url(../fonts/josefin-sans/JosefinSans-Light.ttf); } 


body { 
	background: #848484;
	text-align:center;
	background-attachment: fixed;
	background-position: center center;
	min-height:100%;
	width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden; 
}

#noticeBoard {
	position: relative;
	overflow: auto;
	left: 0%;
	width: 30%;
	height: 85vh;
	background: #efefef;
	border-radius: 5px;
}
#message {
	margin-left: 5px;
	margin-right: 5px;
	text-align: left;
	font-family: Arial;
	font-size: 12pt;
	color: #2A2C31;

}
.deleteButton {
	background: url(../img/delete_button.svg) no-repeat;
	background-size: 10px 10px;
	width: 10px;
	height: 10px;
	border: 0px;
	position: relative;
	left: 47%;
	top: 15px;
}
.deleteButton:hover {
	background: url(../img/delete_button_pressed.svg) no-repeat;
	background-size: 10px 10px;
	width: 10px;
	height: 10px;
	border: 0px;
	z-index: 2;
}
button {
	outline: none;
}
#messageBox {
	margin-top: 10px;
	border: 0px;
	border-radius: 5px;
	font-family: arial;
	resize: none;
	color: #2A2C31;
	width: 90%;
	height: auto;
}
textarea:focus {
	outline: none;
}
#wall {
	overflow: auto;
	height: 80%;	
}
.post {
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 10px;
	margin-left: 4%;
	margin-right: 4%;
	width: 92%;
	height: auto;
	background: #fff;

}
#submitButton {
	border: 0px;
	border-radius: 5px;
	background: #5EC8BE;
	font-size: 12pt;
	text-align: center;
	width: 100px;
	height: 20px;
	font-family: Josefin;
	color: #fff;
	margin-left: -100px;
	position: relative;
	left: 45%;
}

.innerShadow {
	box-shadow: inset 0px 0px 1px rgba(0,0,0,1);
	-webkit-box-shadow: inset 0px 0px 1px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 1px rgba(0,0,0,1);
}